<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="947870">  <td>19/06/15 17:21:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/15 17:21:33</td>   <td>16172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/15 17:21:01</td>   <td>-15257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/15 17:21:19</td>   <td>2350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>19/06/15 17:21:07</td>   <td>-9821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.loginAndLogout(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">loginAndLogout</td> 
  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>19/06/15 17:21:23</td>   <td>6584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.loginAndLogout(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">loginAndLogout</td> 
  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>19/06/15 17:21:00</td>   <td>-16006</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>19/06/15 17:21:00</td>   <td>-16149</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>19/06/15 17:21:00</td>   <td>-16141</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>19/06/15 17:21:00</td>   <td>-16563</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>19/06/15 17:21:35</td>   <td>18300</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>19/06/15 17:21:35</td>   <td>18259</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@116f93d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11145949</td>   <td></td> </tr>
</table>
